@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    Layout racine 
   ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header{
    align-items: center;
    background-color:#8ad3dd;
    gap:5px;
    margin-top:5px;
}

nav{
    background-color:#8a96dd;
    justify-content: center;
    justify-content: space-around;
}

nav a{
    color:white;
    font-weight:bold;
    display:block;
    flex:1;
    text-align: center;
    border-radius:7px;
    cursor:pointer;
    text-decoration: none;
}

nav a:hover{
    background-color:white;
    color:#8a96dd;
}

main{
    
    background-color:#8ad3dd;
    justify-content: center;
    text-align: center;
}

footer{
    background-color:#8a96dd;
    color:white;
    justify-content: center;
}

header, nav, main, footer{
    display:flex;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
    padding:5px;
    margin-bottom:10px;
}

main{
    display:block;
}

header img{
    height:80px;
}

h2{
    font-size:2em;
    font-weight:bold;
}

h3{
    font-size:1.6em;
    font-weight:bold;
}

h4{
    font-size:1.2em;
    font-weight:bold;
}

input{
    background-color:white;
    padding:0px 5px;
    border:gray solid 1px;
    border-radius:3px;
    margin-right:3px;

}

button{
    background-color:lightgray;
    border-radius:3px;
    padding:0px 3px;
    cursor:pointer;
    border:gray solid 1px;
}

button:active{
    background-color:rgb(164, 164, 164);
}

main>hr{
    margin:5px 0px;
}

img{
    display:inline;
}

/* ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    Composant Home 
   ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ */

h4{
    margin:5px 0px;
}

.mini{
    height:25px;
    vertical-align: middle;
    display:inline;
}

.clic{
    cursor:pointer;
}

/* ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    Composant List 
   ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ */

.characters{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

/* ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    Composant Details 
   ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ */


   
/* ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    Composant Card 
   ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ */